Repository Hobiron03/lend, pull requests merged in 2020-09, with the labels that each got.

#23 #14 Create BookCard Component
  lend_frontend/src/DummyImages/1.jpg
  lend_frontend/src/components/BookCard/BookCard.tsx
  lend_frontend/src/components/BookCard/Button/Button.tsx
  lend_frontend/src/components/BookCard/Button/_Button.scss
  lend_frontend/src/components/BookCard/_BookCard.scss
Labels: frontend

#44 Feature/#28 create lend select screen ui
  lend_frontend/package-lock.json
  lend_frontend/package.json
  lend_frontend/src/App.tsx
  lend_frontend/src/components/SelectFriendScreen/FriendColumn/FriendColumn.tsx
  lend_frontend/src/components/SelectFriendScreen/FriendColumn/_FriendColumn.scss
  lend_frontend/src/components/SelectFriendScreen/Friends.json
  lend_frontend/src/components/SelectFriendScreen/SelectFriendScreen.tsx
  lend_frontend/src/components/SelectFriendScreen/_SelectFriendScreen.scss
Labels: frontend

#71 Feature/front/#27 create modal and dialog ui
  lend_frontend/src/App.tsx
  lend_frontend/src/components/Modal/Modal.tsx
  lend_frontend/src/components/Modal/ModalContentConfirm/ModalContentConfirm.tsx
  lend_frontend/src/components/Modal/ModalContentConfirm/_ModalContentConfirm.scss
  lend_frontend/src/components/Modal/_Modal.scss
Labels: frontend

#93 ３重配列を２中配列に変更
  server/application.py
Labels: bug

#117 Fueature/issue101/notification
  server/app/AddNotification.py
  server/application.py
  server/init_db.py
  server/models/notification.py
  server/test.py
Labels: backend

#119 #113 fix 友達のデータをダミーからログイン時に取得した友達一覧の内容に変更
  lend_frontend/src/App.tsx
  lend_frontend/src/actions/index.ts
  lend_frontend/src/components/BookCard/BookCard.tsx
  lend_frontend/src/components/Login/Login.tsx
  lend_frontend/src/components/SelectFriendScreen/SelectFriendScreen.tsx
  lend_frontend/src/reducers/friends.ts
  lend_frontend/src/reducers/index.ts
Labels: frontend

#125 Feature/front/#9 return lended book
  lend_frontend/src/App.tsx
  lend_frontend/src/components/BookCard/BookCard.tsx
  lend_frontend/src/components/MyBookList/MyBookList.tsx
Labels: frontend

#126 Fueature/issue101/notification
  server/application.py
Labels: backend

#130 '%Y/%m/%d %H:%M:%S.%f'に変更
  server/app/AddNotification.py
  server/app/LendInfo_auto.py
  server/app/add_db_LendInfo.py
  server/application.py
  server/init_add_db.py
  server/static/images/icon_2.jpg
  server/static/images/icon_3.jpg
  server/static/images/icon_4.jpg
  server/static/images/icon_5.jpg
  server/static/images/kirin/RisutoKirin.png
  server/static/images/kirin/hello.png
  server/static/images/kirin/kirinnokao.png
  server/static/images/kirin/lemon.png
Labels: backend, bug

#131 #7 fix return logic
  lend_frontend/src/components/BookCard/BookCard.tsx
  lend_frontend/src/components/SelectFriendScreen/_SelectFriendScreen.scss
Labels: frontend

#134 時間の追加
  server/app/LendInfo_auto.py
  server/app/add_db_LendInfo.py
  server/application.py
Labels: backend, bug

#155 /pointを追加
  server/app/friend.py
  server/application.py
Labels: backend

#158 #152 Create display my point in PointExchangeScreen
  lend_frontend/src/App.tsx
  lend_frontend/src/components/PointExchangeScreen/PointExchangeScreen.tsx
  lend_frontend/src/components/PointExchangeScreen/_PointExchangeScreen.scss
Labels: frontend

#156 #153 fix bookCard of purchase button
  lend_frontend/src/components/BookCard/BookCard.tsx
Labels: bug, frontend
